
10.Minutes Before the New Year.c
11.asda.c
12.Boy or Girl.c
13.Helpful Maths.c
14.c
2. way too long words.c
26. Everything Everywhere All But One.c
27.DIV + MOD.c
28.Card Trick.c
29.AvtoBus.c
30.Petya and Strings.c
31. String Task.c
32.Football.c
33.Queue at the School.c
36.41A. Translation.c
37. three doors.c
4.nEXT ROUND.c
42.A. New Year and Hurry.c
44.A. Watermelon.c
45.A. Team.c
46.A. Way Too Long Words.c
47.A. Division.c
48.A. Bit++.c
49.A. Minutes Before the New Year.c
5. domino pilling.c
50.A. Vasya and Coins.c
51.A. Playoff.c
52.A. Domino piling.c
53.A. Next Round.c
54.A. Lucky.c
55.B.DIV+MOD.cpp
56.A. 2-3 Moves.c
57.A. Traveling Salesman Problem.c
59.A. Everyone Loves to Sleep.c
6.Theatre Square.c
60.B. Array Recovery.cpp
63.A. cAPS lOCK.cpp
64.A. Twins.cpp
64.C. Stripes.cpp
65. A. Cowardly Rooks.cpp
68.A. Dragons.cpp
7.A. Playoff.c
72.A. Raising Bacteria.cpp
73.A_Burenka_Plays_with_Fractions.cpp
74.A_Multiplication_Table.cpp
8.Vasya and Coins 2.c
8.Vasya and Coins.c
9.Bit++.c
A_One_and_Two.cpp
B_Xenia_and_Ringroad.bin
B_Xenia_and_Ringroad.cpp
D_Distinct_Split.bin
D_Distinct_Split.cpp
README.md
10.Minutes Before the New Year.c
11.asda.c
12.Boy or Girl.c
13.Helpful Maths.c
14.c
2. way too long words.c
26. Everything Everywhere All But One.c
27.DIV + MOD.c
28.Card Trick.c
29.AvtoBus.c
30.Petya and Strings.c
31. String Task.c
32.Football.c
33.Queue at the School.c
36.41A. Translation.c
37. three doors.c
4.nEXT ROUND.c
42.A. New Year and Hurry.c
44.A. Watermelon.c
45.A. Team.c
46.A. Way Too Long Words.c
47.A. Division.c
48.A. Bit++.c
49.A. Minutes Before the New Year.c
5. domino pilling.c
50.A. Vasya and Coins.c
51.A. Playoff.c
52.A. Domino piling.c
53.A. Next Round.c
54.A. Lucky.c
55.B.DIV+MOD.cpp
56.A. 2-3 Moves.c
57.A. Traveling Salesman Problem.c
59.A. Everyone Loves to Sleep.c
6.Theatre Square.c
60.B. Array Recovery.cpp
63.A. cAPS lOCK.cpp
64.A. Twins.cpp
64.C. Stripes.cpp
65. A. Cowardly Rooks.cpp
68.A. Dragons.cpp
7.A. Playoff.c
72.A. Raising Bacteria.cpp
73.A_Burenka_Plays_with_Fractions.cpp
74.A_Multiplication_Table.cpp
8.Vasya and Coins 2.c
8.Vasya and Coins.c
9.Bit++.c
A_One_and_Two.cpp
B_Xenia_and_Ringroad.bin
B_Xenia_and_Ringroad.cpp
D_Distinct_Split.bin
D_Distinct_Split.cpp
C_Sum_of_Cubes.exe
A_Pashmak_and_Garden.bin
